a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.header{
  background:url(../images/header_bg.jpg);
  background-position:center center;
  background-size: cover;
  background-repeat: no-repeat;

}
.header__container{
  padding: 40px 0 20px;
  text-align: center;
}
.header__nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header__logo{
  font-weight: 700;
  font-size: 24px;
  color:#fff !important;
}
.nav-menu{
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
ul{
  padding: 0;
  list-style: none;
}
.nav-menu__item{
  color: #fff !important
}
.header__title{
  margin: 260px 0 33px;
  text-transform: uppercase;
  font-size: 48px;
  color: white;
}
.header__subtitle{
  font-family: "Roboto";
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 50px;
}
.header__btt{
  display: inline-block;
  color: #fff !important;
  text-transform: uppercase;
  padding: 17px 33px;
  border: 2px solid #fff;
  border-radius:2px;
  font-size: 16px;
}

.services__container{
  padding: 100px 0;
}
.title{
text-transform: uppercase;
color: #555;
text-align: center;
font-size: 20px;
position: relative;
font-weight: 700;
}

.title::after{
  content:"";
  position: absolute;
  height: 2px;
  background: #555;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.subtitle{
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  color: #555;
  margin-bottom: 70px;
}
.services-icon{
  width: 90px;
  height: 90px;
  border: 3px solid black;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 40px;
  margin: 0 auto;
  transition: 0.7s;
}
.col-xl-4:hover .services-icon{
  background-color: red;
  color: white;
}
.services__title{
  font-weight: 700;
  color: #555;
  font-size: ;
  margin:30px 0 20px;
  text-align: center;
}

.services__subtitle{
  font-weight: 400;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 24px;
}
.about{
  background: #f8f8f8;
}
.about__container{
  padding: 100px 0;
}
.about__text{
  line-height: 24px;
  font-size: 14px;
  color: #555;
  font-family: "roboto";
  font-weight: 400;
  margin-bottom: 70px;
}
.about-slider__img img{
  margin: 0 auto;
}
.about-slider__img{
  position: relative;
}
.about-slider__icons{
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.about-slider__icons a{
  width:28px;
  height:28px;
  display: inline-flex;
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.about-slider__icons a:hover{
  background: tomato;
}
.about-slider__img:hover .about-slider__icons{
  display: block
}
.about-slider__title{
  text-transform: uppercase;
  margin: 20px 0 15px;
  font-size: 14px;
  color: #555;
  text-align: center;
  font-weight: 700;
}
.about-slider__subtitle{
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 400;
  color: #555;
  font-size: 13px;
}
.slick-prev,
.slick-next{
  transition: 0.7s;
  height: 38px;
  width: 35px;
  font-size: 30px;
  background: #c1c1c1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: 106px;
  z-index: 99;
}
.about-slider__overlay{
  position: absolute;
  width: 263px;
  height: 250px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(85, 85, 85, 0.502);
  display: none;
}
.about-slider__img:hover .about-slider__overlay{
  display: block;
}
.slick-prev{
  left: 11px;
}

.slick-next{
right: 11px;
}
.slick-prev:hover,
.slick-next:hover{
  background: tomato;
}
.works__container{
  padding: 100px 0 70px;
}
.nav-tabs{
  border: none;
  justify-content: center;
  align-items: center;
}
.nav-tabs .nav-link{
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0 12px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #555;
  font-weight: 400;
}
.nav-tabs .nav-link.active{
  color: tomato;
}
.works-filter{
  position: relative;
}
.works-filter:hover .works-filter__hover{
  display: flex;
}
.works-filter__hover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(192, 48, 28, 0.702);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.works-filter__title{
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}
.works-filter__subtitle{
  color: #fff;
  font-size: 12px;
  margin-bottom: 25px;
  font-family:'Roboto'
}

.works-filter__btn{
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: tomato !important;
  background-color: #fff;
}
.works-filter__btn .fa{
  font-size: 20px;
  margin-left: 7px;
}
.works .row .col-xl-4{
  margin-top: 20px;
}
.call{
  padding: 100px 0;
  background:url(../images/call_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.call__text{
  font-size: 30px;
  color: #fff;
  font-family: 'Roboto slab';
  line-height: 44px;
}
.call__btn{
  padding: 16px 25px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 25px;
  color: white !important;
  text-transform: uppercase;
}
.blog__container{
  padding: 100px 0;
}
.blog-header{
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.blog-header__date{
  width: 76px;
  height: 76px;
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 28px;
  font-size: 14px;
  font-family: 700;
  color: #777;
text-transform: uppercase;
}
.blog-header__date span{
  font-size:24px;
}
.blog-header__title{
  font-size: 16px;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 19px;
  font-weight: 700;
  transition: 0.6s;
}
.blog-header__subtitle{
  color: #777;
  font-style: italic;
  font-size: 13px;
  font-family: 'Roboto slab'
}
.blog-header__subtitle span{
  transition: 0.6s;
}
.blog__text{
  font-family: 'Roboto';
  color: #555;
  line-height: 24px;
  font-size: 14px;margin-bottom: 24px;
  font-weight: 400;
}
.blog__link{
  color: tomato;
  font-family:'Roboto slab';
  font-weight: 700;
  font-size:13px;
  text-transform: uppercase;
}
.blog .row:hover .blog-header__title,
.blog .row:hover .blog-header__subtitle span,
.blog .row:hover .blog__link,{
  color: tomato !important ;
}
.blog__line{
  height:1px;
  color:#ddd;
  margin: 38px 0;
}
